<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>MembersForm</h1>
<hr>
<form action="/member/regist" method="post" th:object="${member}">
	<input type="text" th:field="*{username}" placeholder="Input username..."><br>
	<div class="error" th:errors="*{username}"></div>
	<input type="text" th:field="*{password}" placeholder="Input password..."><br>
	<div class="error" th:errors="*{password}"></div>
	<input type="text" th:field="*{name}" placeholder="Input name..."><br>
	<input type="text" th:field="*{phone}" placeholder="Input phone..."><br>
	<div class="error" th:errors="*{phone}"></div>
	<input type="submit" value="등록" />
</form>
</body>
</html>